---
http_interactions:
- request:
    method: get
    uri: http://ws.audioscrobbler.com/2.0?api_key=2ac076fa9081eff8e7e7dc3c2c2dc980&artist=Megadeth&format=json&method=artist.getsimilar
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Web-Node:
      - www165
      Content-Type:
      - application/json; charset=utf-8;
      X-Cms:
      - '1'
      X-Varnish-Host:
      - varnish3
    body:
      encoding: ASCII-8BIT
      string: |
        {"similarartists":{"artist":[{"name":"Anthrax","mbid":"315126eb-86bc-475c-a308-b8edfdd6c08c","match":"1","url":"www.last.fm\/music\/Anthrax","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/81588821.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/81588821.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/81588821.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/81588821.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/_\/81588821\/Anthrax+Heaviest+fuckin+band+in+the+wo.jpg","size":"mega"}],"streamable":"0"},{"name":"MD.45","mbid":"1a7c9a3e-60f5-4f6d-9649-fd960ade4895","match":"0.939688","url":"www.last.fm\/music\/MD.45","image":[{"#text":"http:\/\/userserve-ak.last.fm\/serve\/34\/46412437.jpg","size":"small"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/64\/46412437.jpg","size":"medium"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/126\/46412437.jpg","size":"large"},{"#text":"http:\/\/userserve-ak.last.fm\/serve\/252\/46412437.jpg","size":"extralarge"},{"#text":"http:\/\/userserve-ak.las[...]
