<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= render partial: 'shared/search' %>
      <%= render partial: 'shared/log_out' %>
    </div>
  </div>
</nav>
